<app-header [Categories]="Categories"></app-header>
<div class="banner">
    <img src="../../assets/images/banner2.jpg" alt="banner2" />
</div>
<div class="container">
    <div class="row">
        <h1> {{Categories}}</h1>
        <br>
        <button pButton type="button" label="Back" icon="pi pi-angle-left" routerLink="/home"></button>
        <h1>Product Name</h1>
        <div class="descr">
            Save without commissions and recover your money at any time.
            And also, make your money more profitable with the help of our digital advisor
            Orange account is designed to make your life easier
            Remuneration - 0.55%
            Ceiling - 30000 Euros
            Tax - Tax exempt
            Min amount for account opening - 50 Euros
            Fees (Opening, Managing, closing ) - Free
        </div>
    </div>
</div>